table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: silver;
    color: gold;
    text-align: center;
}

tr:nth-child(even) {
    background-color: red;
}

tr:nth-child(odd) {
    background-color: gold (0, 217, 255);
}

tr:hover {
    background-color: silver;
}